---
import Layout from '../layouts/Layout.astro';

interface Conference {
    key: string;
    name: string;
    url: string;
    image: string;
    shortDescription: string;
    tags: string[];
}

const globFiles: Record<string, {default: Conference[]}> = import.meta.glob('../../data/conferences.json', { eager: true });
const conferences: Conference[] = globFiles['../../data/conferences.json'].default;
---

<Layout>
  <main>
    <div class="container is-fluid">
        <div class="container">
            <p class="title">
              {conferences.length} conférences organisées par les communautés du LyonTechHub
            </p>
            <p class="subtitle">
              <a href="/about">Par ici pour référencer la votre !</a>
            </p>
            <div class="field">
              <label class="label" for="filterConferences">Rechercher</label>
              <div class="control">
                <input type="text" id="filterConferences" onkeyup="dynamicFilter('filterConferences')">
              </div>
            </div>
            <div class="grid is-col-min-12">
                {conferences
                    .map(
                        (conference) => (
                            <div class="cell filterable" data-key={conference.name}>
                                <div class="card">
                                    <header class="card-header">
                                      <a href={conference.url}>
                                        <p class="card-header-title">{conference.name}</p>
                                      </a>
                                    </header>
                                    <div class="card-image p-6 has-text-centered">
                                      <a href={conference.url} target="_blank">
                                        <figure class="image is-128x128 is-inline-block">
                                          <img src={"/imgs/conferences/" + conference.image} onerror="this.onerror=null;this.src='/imgs/noLogo.png';" />
                                        </figure>
                                      </a>
                                    </div>
                                    <div class="card-content">
                                        <div class="content">
                                            {conference.shortDescription}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        )
                    )
                }
            </div>
        </div>
    </div>
  </main>
</Layout>
